<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{templates/template}">
  <head>
    <title>Вход</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="d-flex align-items-center mb-3">
        <h3>Нова обява за имот</h3>
      </div>
      
      <div class="row">
        <div class="col-12">
          <form th:action="@{/estates/create}" method="post" th:object="${ecr}">
            <div class="mb-3">
              <label class="form-label">Име на обява</label>
              <input type="text" class="form-control" th:field="*{name}"
                     th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" />
              <span class="invalid-feedback text-start" th:errors="*{name}">Error</span>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Страна</label>
              <select class="form-control" th:field="*{country}"
                      th:classappend="${#fields.hasErrors('country')} ? 'is-invalid'">
                <option value="bg">България</option>
                <option value="gb">Великобритания</option>
              </select>
              <span class="invalid-feedback text-start" th:errors="*{country}">Error</span>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Град</label>
              <input type="text" class="form-control" th:field="*{city}"
                     th:classappend="${#fields.hasErrors('city')} ? 'is-invalid'" />
              <span class="invalid-feedback text-start" th:errors="*{city}">Error</span>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Квартал</label>
              <input type="text" class="form-control" th:field="*{neighborhood}" />
            </div>
  
            <div class="mb-3">
              <label class="form-label">Адрес</label>
              <input type="text" class="form-control" min="0" th:field="*{address}"
                     th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'" />
              <span class="invalid-feedback text-start" th:errors="*{address}">Error</span>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Цена</label>
              <input type="number" class="form-control" min="0" th:field="*{price}"
                     th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'" />
              <span class="invalid-feedback text-start" th:errors="*{price}">Error</span>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Площ</label>
              <input type="number" class="form-control" min="1" th:field="*{area}"
                     th:classappend="${#fields.hasErrors('area')} ? 'is-invalid'" />
              <span class="invalid-feedback text-start" th:errors="*{area}">Error</span>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Стаи</label>
              <input type="number" class="form-control" min="1" th:field="*{rooms}"
                     th:classappend="${#fields.hasErrors('rooms')} ? 'is-invalid'" />
              <span class="invalid-feedback text-start" th:errors="*{rooms}">Error</span>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Етаж</label>
              <input type="number" class="form-control" min="0" th:field="*{floor}"
                     th:classappend="${#fields.hasErrors('floor')} ? 'is-invalid'" />
              <span class="invalid-feedback text-start" th:errors="*{floor}">Error</span>
            </div>
            
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" th:field="*{isRent}" value=""
                     th:classappend="${#fields.hasErrors('isRent')} ? 'is-invalid'" />
              <label class="form-check-label">Под наем?</label>
            </div>
            
            <button type="submit" class="btn btn-primary mb-3">Създай нова обява за имот</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>