<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <body>
    
    <nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
      <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">Намери дом БГ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex">
            <li class="nav-item">
              <a class="nav-link" th:classappend="${menu eq 'estates'} ? 'active'" href="#" th:href="@{/estates}">Имоти</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
              <a class="nav-link" th:classappend="${menu eq 'login'} ? 'active'" href="#" th:href="@{/login}">Вход</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
              <a class="nav-link" th:classappend="${menu eq 'signup'} ? 'active'" href="#" th:href="@{/signup}">Регистрация</a>
            </li>
            <li class="nav-item dropdown me-3" sec:authorize="isAuthenticated()">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user}">John Doe</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                <li>-->
<!--                  <a class="dropdown-item" href="#">Профил</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <hr class="dropdown-divider">-->
<!--                </li>-->
                <li>
                  <a class="dropdown-item text-danger" href="#" th:href="@{/logout}">Изход</a>
                </li>
              </ul>
            </li>
            <a sec:authorize="isAuthenticated()" class="btn btn-light" th:href="@{/estates/create}">Добави нов имот</a>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>